@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loader{
    position: fixed;
	display: grid;
	place-content: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 999999;

}
.loader img{
	width: 200px;
	height: 200px;
}

html{
    scroll-behavior: smooth;
}

body{
    background-position: center;
    background-size:cover;
    background-color: #f1f1f1;
	/* background-color: rgba(255, 255, 255, 0.5);
	 background-color: rgba(146, 188, 255, 0.5); */
}

li,a,button{
    font-family: 'Architects Daughter', cursive;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
h2,p{
    font-family: 'Architects Daughter', cursive;
    color: #fff;
}

header{
    position: relative;
    width: 100%;
    background:url('https://i.pinimg.com/originals/3d/08/e0/3d08e03cb40252526fee2036a67f07f1.gif');
    box-sizing: border-box;
    background-attachment: fixed;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
}


.logo{
    cursor: pointer;
    color: #fff;
    float: left;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    font-size: 30px;
    transition: all 0.5s ease-in-out;
    line-height: 70px;
    font-family: 'Architects daughter',cursive;
    animation: move 2s infinite ease-in-out;
}

.clearfix{
    clear: both;
}
.logo:hover{
    font-size: 2.5rem;
}

nav{
    float: right;
}
nav ul{
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    transition: all 0.3s ease 0s;
    display: block;
    margin: 10px 0;
    padding: 10px 30px;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}

nav ul li a:hover{
    color: #fdfdfd;
    font-size: 1.4rem;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

button{
    padding: 9px 25px;
    background-color:#0088a9;
    border: none;
    color: #fff;
    margin-left: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition:all 0.3s ease 0s ;
}

button:hover{
    background-color: #0087a965;
}

.get-started{
    position: relative;
   width: 100%;
   height: 100px;
   display: grid;
   place-content: center;
   transition: all 0.5s ease-in-out;
}

.get-started a{
    position: relative;
    margin: 10px 0;
    font-size: 2rem;
    color: #fff;
    padding: 10px;
    border-radius: 39px; 
    text-decoration: none;
    
}
.get-started a:hover{
    color: #fff;
}

.get-started a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: url("/img/btn-bg1.png");
    background-size: cover;
    transform-origin: left;
    transition: all 0.5s ease;
}

.get-started a:hover:before{
    width: 100%;

}
.get-started a span{
    position: relative;
    z-index: 1;
}

.section{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.left-panel{
    width: 100%;
    position: relative;
}
.left-panel::after{
    content: "";
    background:rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.1;
    
}
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    z-index: -1;
}

.left-panel img{
 /*   margin-top: 60px;
    margin-left: 50px;  */
    width: 100%;
    height: 100%;
    background-size: cover;
}
.left-panel .join-us{
    position: absolute;
    width: 100%;
    display: grid;
    place-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}



.left-panel .join-us p{
    color:#fff;
    font-size: 4rem;
    text-align: start;
    font-weight: lighter;
    font-family: 'Architects Daughter', cursive;
}
.typeText::after {
    content: "|";
    animation: blink 1s step-end infinite;
  }
  
  @keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
  }

.about-section{
    width: 100%;
	padding:7%;
    text-align: center;
    font-family: 'Architects daughter',cursive;
}
.about-section h2{
    color: rgb(77, 193, 252);
    font-size: 3rem;
    margin-top: 20px;
    font-weight: lighter;
    text-decoration: underline;
    animation: move 2s infinite ease-in-out;
}

.about-section .txt{
    display: flex;
	
}

.about-section img{
    width: 30%;
    height: 30%;
    margin-right: 50px;
	border-radius: 40px;
}
.about-section p{
    text-align: start;
    font-size: 1.4rem;
    color: #4d4d4d;
    margin-top: 80px;
}
.about-section p::first-letter{
    font-size: 3rem;
}

/* Gallery */

.gallery-section{
    width: 100%;
    padding: 60px 0;
    background: #f1f1f1;
  }
  
  .inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  
  .gallery-section h1{
    text-align: center;
    text-transform: uppercase;
    color: #333;
  }
  
  .border{
    width: 180px;
    height: 4px;
    background: #333;
    margin: 60px auto;
  }
  
  .gallery-section .gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  
  .gallery-section .image{
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .gallery-section .image img{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    transition: 0.4s;
  }
  
  .gallery-section .image:hover img{
    transform: scale(1.4) rotate(15deg);
  }
  
  @media screen and (max-width:960px) {
    .gallery-section .image{
      flex: 33.33%;
    }
  }
  
  @media screen and (max-width:768px) {
    .gallery-section .image{
      flex: 50%;
    }
  }
  
  @media screen and (max-width:480px) {
    .gallery-section .image{
      flex: 100%;
    }
  }

@keyframes move{
    0%{
      margin-left: 10px;  
    }
    10%{
        margin-right: 10px;  
      }
      20%{
        margin-left: 10px;  
      }
      30%{
          margin-right: 10px;  
        }
        40%{
            margin-left: 10px;  
          }
          50%{
              margin-right: 10px;  
            }
            60%{
                margin-left: 10px;  
              }
              70%{
                  margin-right: 10px;  
                }
                80%{
                    margin-left: 10px;  
                  }
                  90%{
                      margin-right: 10px;  
                    }
     100%{
    margin-left: 10px;  
    }
                      
}

#contact{
    display: block;
    font-size: 100%;
    height: 300px;
}
.contain{
    margin: 0 auto;
    max-width: calc(100% - 4em);
    width: 80em;
    padding: 30px;
    text-align: center;
    align-items: center;
}
.contain h2,p{
	color: #4d4d4d;
}
.ctan{
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
#register_btn{
    margin-top: 20px;
}
form {
    margin: 0 0 2em 0;
}

input[type="text"],input[type = "email"]{
    background: transparent;
    border-radius: 4px;
    height: 4em;
    border: solid 2px rgba(22, 22, 22, 0.5);
    color: #333;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}
input::placeholder{
    color: #333;
}

.contain h2{
    font-size: 2rem;
    font-weight: lighter;
    animation: move 2s infinite ease-in-out;
}

.contain p{
    font-size: 1.6rem;
    font-weight: lighter;
}


/* Footer */

#footer {
    background: rgba(255, 255, 255, 0.5);
    padding: 6em 0;
    text-align: center;
}

    #footer .icons .icon.alt {
        text-decoration: none;
    }

        #footer .icons .icon.alt:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            text-transform: none !important;
            font-family: 'Font Awesome 5 Free';
            font-weight: 400;
        }

        #footer .icons .icon.alt:before {
            color: rgb(50, 177, 250) !important;
            text-shadow: 1px 0 0 rgba(255, 255, 255, 0.5), -1px 0 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.5);
        }

    #footer .copyright {
        color: #4d4d4d;
        font-size: 0.8em;
        line-height: 1em;
        margin: 2em 0 0 0;
        padding: 0;
        text-align: center;
    }

        #footer .copyright li {
            border-left: solid 1px rgba(255, 255, 255, 0.3);
            display: inline-block;
            list-style: none;
            margin-left: 1.5em;
            padding-left: 1.5em;
        }

            #footer .copyright li:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }

            #footer .copyright li a {
                color: inherit;
            }

            /* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
		}

		.icon > .label {
			display: none;
		}

		.icon:before {
			line-height: inherit;
		}

		.icon.solid:before {
			font-weight: 900 !important;
		}

		.icon.brands:before {
			font-family:'Font Awesome 5 Brands' !important;
		}

		.icon.alt {
			text-decoration: none;
		}

			.icon.alt:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				text-transform: none !important;
				font-family: 'Font Awesome 5 Free';
				font-weight: 400;
			}

			.icon.alt:before {
				color: #272833 !important;
				text-shadow: 1px 0 0 #ffffff, -1px 0 0 #ffffff, 0 1px 0 #ffffff, 0 -1px 0 #ffffff;
			}
            
		.icon.major {
			background: #3d323d;
			border-radius: 100%;
			cursor: default;
			display: inline-block;
			height: 6em;
			line-height: 5.65em;
			margin: 0 0 2em 0;
			text-align: center;
			width: 6em;
		}

			.icon.major:before {
				font-size: 2.25em;
			}

			.icon.major.alt {
				text-decoration: none;
			}

				.icon.major.alt:before {
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					display: inline-block;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					line-height: 1;
					text-transform: none !important;
					font-family: 'Font Awesome 5 Free';
					font-weight: 400;
				}

				.icon.major.alt:before {
					color: #fff !important;
					text-shadow: 1px 0 0 #ffffff, -1px 0 0 #ffffff, 0 1px 0 #ffffff, 0 -1px 0 #ffffff;
				}

                /* Icons */

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

		ul.icons li {
			display: inline-block;
			height: 2.5em;
			line-height: 2.5em;
			padding: 0 0.5em;
		}

			ul.icons li .icon {
				font-size: 1.8em;
			}


			  /* MEDIA QUERIES */
 
  @media (max-width: 1000px) 
  {
      
     .left-panel{
         width: 100%;
         height: 400px;
         display: block;
         text-align: center;
     }
     .left-panel .join-us{
         top: 50%;
         left: 12%;
         transform: translate(-12% , -50%);
     }
     .get-started{
         position: relative;
         height: 100px;
         width: 100%;
         display: grid;
         place-content: center;
     }
     .left-panel img{
         width: 100%;
         height: 100%;
     }
   
     .about-section .txt{
         display: block;
     }
     .about-section .txt img{
        width: 100%;
    }
   

    
    .container{
        width: 100%;
    }

   
    }
 
 @media (max-width: 1000px) 
  {
    .menu-toggle{
         display: block;
         width: 40px;
         height: 40px;
         float: right;
         margin-right: 30px;
         padding-top: 10px;
         cursor: pointer;
         text-align: center;
         transition: all 1s ease-in-out;
         font-size: 30px;
         color: #fff;
     }
   
     .menu-toggle:before{
         content: '\f0c9';
         font-family: fontAwesome;
         line-height: 40px;
         transition: all 1s ease-in-out;
     }
    

     .menu-toggle.active:before{
         content: '\f00d';
         transition: all 1s ease-in-out;
     }
     

     nav{
         display: none;
     }
     .dropdown-content{
         top: 10%;
         left: 90%;
     }
     nav.active{
         display: block;
         width: 100%;
         height: 100%;
         transition: all 1s ease-in-out;
     }
     nav.active ul{
         display: grid;
         place-items: center;
         font-size: 3rem;
         width: 100%;
         height: 100%;
         transition: all 1s ease-in-out;
         
     }
     nav.active ul li a{
         font-size: 1.7rem;
         width: 100%;
     }
	 .slider{
		 height: 100vh;
	 }
	 body{
		 width: 100%;
	 }
    
  }       
    
