body{
	margin:0;
	padding: 0;
	background: url(img/lake.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: sans-serif;
}

h1{
  color:red;
}
.img{
	width: 100px;
	height: 100px;
	border:10px;
	border-radius: 50%;
}
input{
	margin-top: 5px;
	background:white;
	text-align: start;
	font-size: 15px;
	font-family:Helvetica,sans-serif;
	height: 5px;
	width: 300px;
	padding: 13px;
	border:5px lightblue;
	border-radius: 8px;
	background-position: center;
}
.start{
	width: 350px;
	height: 350px;
	top:50%;
	left: 40%;
	text-align: center;
	background-color: rgb(200,180,100);
	background-position: center;
	border-radius: 30px;
	opacity: 0.7;
}
.btn{
	padding: 17px;
	padding-top: 10px;
	background: #19B3D3;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	border-radius: 20px;
	font-size: 15px;
	font-weight: 400;
	font-family: Helvetica,sans-serif;
	color: rgb(0,0,0);
	transition: 0.5s;
	transition-property: background;
}

.btn:hover{
	background:rgb(100,200,50);
}

a{
	text-decoration: none;
	color: rgb(0,0,0);
	opacity: 0.7;
}

a:hover{
	color: rgb(100,130,70);
}

a:visited{
	color: rgb(50,100,40);
}