*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	background:#4d4d4d;
	justify-content: center;
	text-align: center;
	height:100vh;
	font-family: Poppins,sans-serif;
}
	
}

.links{
	text-align: center;
	line-height: 30px;
	margin-top: 10px;
	padding-top: 10px;
	letter-spacing: 10px;
}

.links a{
	text-decoration: none;
	color: #fff;
	text-shadow: 5px 3px 6px grey;
}

.links h5{
	margin-top: 30px;
	height: 25px;
	width: 600px;
	color: #fff;
	font-weight: lighter;
	border:1px solid #fff;
	text-align: center;
	font-size: 20px;
}

.links h3{
	font-family: Courier New,fantasy;
}

.html{
	height: 25px;
	width: 600px;
	margin-top: 10px;
background:#7faef8;
}

.html1{
	height: 25px;
	width: 600px;
background:#b388eb;
margin-top: 10px;
padding: 2px 0px;
}

.html2{
	height: 25px;
	width: 600px;
	background:#8093f1;
margin-top: 10px;
}

.html3{
	height: 25px;
	width: 600px;
	background:#ffcad4;
margin-top: 10px;
}

.html4{
	height: 25px;
	width: 600px;
	background:#c5afa4;
margin-top: 10px;
}

.html5{
	height: 25px;
	width: 600px;
	background:#cc7e85;
margin-top: 10px;
}

.html6{
	height: 25px;
	width: 600px;
	background:#76818e;
margin-top: 10px;
}

.html7{
	height: 25px;
	width: 600px;
	background:#8093f1;
margin-top: 10px;
}

.html8{
	height: 25px;
	width: 600px;
	background:#a36d90;
margin-top: 10px;
}

.html9{
	height: 25px;
	width: 600px;
	background:#c5afa4;
margin-top: 10px;
}